.main_view{
    background-color: rgb(84, 12, 12);
}
.Card1{
    height:700px;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/855ed6e2-d9f1-4afd-90da-96023ec747c3/85eb5b91-25ed-4965-ace9-ba8e4a0ead8d/IN-en-20230828-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    border-radius: 0;
    filter: brightness(50%);
}
.LOGO_netflix {
    font-size: 45px;
    color: rgb(242, 8, 8);
    background-color: transparent;
    border: 0;
    position: relative;
    
    
}
.Header_content{
    background-color: transparent;
    border-radius: 0;
     position: relative;
     top: 25px;
     left: 40%;
     display: flex;
     
     
}