.Title_text{
    color:blue;
    font-size: larger;
    font-weight: 500;
    font-style: italic;
   
}
.oPage{
    background-image: url("https://images.pexels.com/photos/17379311/pexels-photo-17379311/free-photo-of-wood-light-dawn-landscape.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
}
