.Flex_class{
    padding-top: 40px;
    
}
.V_box{
    padding-top: 20px;

}

.Heading_title{
    position: relative;
    left:220%;
}
.highlight-null {
    color:rgb(228, 15, 15);
  }
 .success{
    color: green;
 }
 .row_color{
    background-color: red;
    color:black;
 }
 